@charset "UTF-8";
/* CSS Document */
.headerH1, #headerPhoneText{
	font-size:25px;
	margin-bottom:0px;
	margin-left:40px;
	margin-top:0px;
}
.headerDescriptionText{
	margin-left:40px;
}
#headerDescriptionPhoneText{
	padding-top:7px;
	font-size:13px;
	margin-top:0px;
}


#rruHeaderLogo{
margin-left:10px;
}

#bannerFormSection{
width:100%;
}